/*
Name: Dylan Brodie
Project: Attendance App - This is a full stack attendance tracking and managament software
Purpose: Basic styling for Home Page UI
*/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    align-items: stretch;
    text-align: center;
    background-color: #282828;
    color: #ebdbb2;
    min-height: 100vh;
}

.main-content {
    display: flex;
    width: 100%;
    flex-grow: 1;
}

.center-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #3c3836;
}